# Ignore node_modules (if built locally)
node_modules

# Ignore logs and temporary files
*.log
*.tmp

# Ignore private key files
ssh_key.pem

# Ignore Ansible configurations
ansible/

# Ignore Terraform files
terraform/

# Ignore Docker-related files
Dockerfile
.dockerignore

# Ignore Git repository files
.git
.gitignore

# Ignore other OS-specific files
.DS_Store
Thumbs.db
