global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

rule_files:
  - "rules.yml"
  # - "second_rules.yml"

scrape_configs:
  # Kubernetes API server metrics
  - job_name: 'kubernetes'
    static_configs:
      - targets: ['{{ agent }}:6443'] # Replace {{ agent }} with the Kubernetes API server IP
    scheme: https
    tls_config:
      insecure_skip_verify: true

  # Node Exporter metrics
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['{{ agent }}:9100'] # Replace {{ agent }} with the Node Exporter IP

  # Kube-State-Metrics
  - job_name: 'kube-state-metrics'
    static_configs:
      - targets: ['{{ agent }}:8080'] # Replace {{ agent }} with the Kube-State-Metrics IP
