global:
  scrape_interval: 15s
  evaluation_interval: 15s

# Alertmanager configuration
alerting:
  alertmanagers:
  - static_configs:
    - targets: ['localhost:9093']

rule_files:
  - "rules.yml"
  # - "second_rules.yml"

scrape_configs:
  # Scrape Kubernetes API
  - job_name: 'kubernetes'
    kubernetes_sd_configs:
      - api_server: https://{{ agent }}
        role: endpoints
    relabel_configs:
      - source_labels: [__meta_kubernetes_namespace]
        action: keep
        regex: monitoring
      - source_labels: [__meta_kubernetes_service_name]
        target_label: service
      - source_labels: [__meta_kubernetes_pod_name]
        target_label: pod

  # Scrape Node Exporter on Kubernetes nodes
  - job_name: 'node-exporter'
    static_configs:
      - targets: ['{{ agent }}:9100']

  # Scrape Kube State Metrics
  - job_name: 'kube-state-metrics'
    static_configs:
      - targets: ['{{ agent }}:8080']
